.message {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 24px;
}

.imageAndText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.imageAndText img {
  max-width: 48px;
  border-radius: 50%;
  margin-bottom: -10px;
}

.text {
  color: #fff;
  background-color: #0066CC;
  padding: 8px 13px;
  border-radius: 10px;
  margin-right: 12px;

  position: relative;
}

.text:after {
  content: '';
  width: 10px;
  height: 10px;

  right: -12px; /* Положение треугольника */
  border: 12px solid transparent; /* Прозрачные границы */
  border-bottom: 12px solid #0066CC;
  position: absolute;
  bottom: 0;
}

.name {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
}

.messageText {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  
  /* hyphens: manual; */
}

.time {
  display: flex;
  justify-content: flex-end;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 10px;
}