.sendForm {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.textarea {
  background-color: #F5F7FB;
  width: 80%;
  resize: none;
  min-height: 45px;
  margin-right: 44px;
  overflow-y: hidden;

  border-radius: 20px;
  padding: 12px 24px;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #00000099;

}

.button {
  background-color: #0066CC;
  padding: 10px 39px;
  border: none;
  color: #fff;
  border-radius: 20px;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
}

.button:hover {

}
.button:active {

}
